@layer base {
  button:focus {
    outline: none !important;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-default pointer-events-none;
  }
}
@layer components {
  .btn {
    cursor: pointer;
    min-width: 130px;
    padding: 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @apply rounded-lg text-sm font-semibold bg-primary text-white;
  }

  .btn:disabled,
  .btn[disabled] {
    background-image: none;
  }

  /* .btn:disabled:hover,
  .btn[disabled]:hover, {
    @apply text-caption;
  } */

  /* Sizing */
  .btn-small {
    height: 36px;
    padding: 8px 13px;
    @apply min-w-0;
  }
}
